.about {
    background-color: #F2F2F2;
    padding-top: 120px;
}

.row1-about {
    display: flex;
    margin: 0px 20px 120px 20px;
}

.row2-about {
    display: flex;
}

.column-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.33%;
    padding-bottom: 24px;
}

.header-about {
    padding-bottom: 24px;
}

.label {
    padding: 12px 20px;
    background-color: white;
    font-weight: 800;
    text-decoration: none;
}

 a {
    text-decoration: none;
    color: black;
 }

 a:hover {
    text-decoration: none;
 }

.btn {
    padding: 12px 20px;
    background-color: #39B8E5;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    transition: 0.5s background-color;
}

.btn:hover {
    background-color: #33A3CC;
}

.download-btn {
    display: flex;
    font-weight: 800;
    text-decoration: underline;
    width: max-content;
}

@media only screen and (max-width: 767px) {
    .row1-about {
        flex-wrap: wrap;
        margin-bottom: 42px;
    }
    .row2-about {
        flex-wrap: wrap;
    }
    .column-about {
        flex-basis: 100%;
    }
    .about{
        padding-top: 24px;
    }
}